{% load activelink %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title|default:"Sample Bootstrap Wysiwyg App" }}</title>
        <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
        <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}django_bootstrap_wysiwyg/css/bootstrap-wysiwyg.css" rel="stylesheet" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script src="https://mindmup.s3.amazonaws.com/lib/jquery.hotkeys.js"></script>
        <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}django_bootstrap_wysiwyg/js/bootstrap-wysiwyg.js"></script>
    </head>
    <body>

        <div class="container">
            <div class="navbar" style="margin-top:10px">
                <div class="navbar-inner">
                    <a class="brand" href="#">Django Bootstrap Wysiwyg</a>
                    <ul class="nav">
                        <li {% ifactive "demo:message-create" %}class="active"{% endifactive %}><a href="{% url "demo:message-create" %}">Sample Form</a></li>
                        <li {% ifactive "demo:multiple-text" %}class="active"{% endifactive %}><a href="{% url "demo:multiple-text" %}">Multiple Wsyiwyg in one form</a></li>
                    </ul>
                </div>
            </div>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
